* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*----------TYPE----------*/

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%
}

h1{ 
    font-size: 24pt;
    color: azure;
}

h2{
    font-size: 18pt;
    color: #88fea6;
    font-weight: 200;
}

a{
    color: black;
    text-decoration: none;
}


/*----------BUTTONS----------*/


#btn1 a{

    background: #88fea6;
    padding: 12px 34px;
    margin: 3rem;
    font-size: 12pt;
    border: none;
    width: auto;
    display: inline-block;
   
}

#btn2 a{

    background: #88fea6;
    padding: 12px 34px;
    margin: 3rem;
    font-size: 14pt;
    border: none;
    width: auto;
    display: inline-block;
}



#btn1 :hover{
    background-color: #30c767;
    transition: 0.2s ease-out;
    
}

#btn2 :hover{
    background-color: #30c767;
    transition: 0.2s ease-out;
}




/*----------------------------*/



#container{

    height: 100vh;
    width: 100%;
  
}

/*----------TOP HALF----------*/

#top-banner{

    background-image: url('images/pexels-photo-695971.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: auto;

}

.logo h2{

    color: azure;
    padding: 50px;
    font-weight: 600;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgb(0,0,0,0.75);

}

.text-title1 h1{
    font-size: 25pt;
    line-height: 2.5rem;
}
.text-title2 h1{
    font-size: 27pt;
}

.text-title3 h2{
    font-size:  17.5pt;
    }
.text-title3{
    padding-top: 2rem;
}

/*----------BOTTOM HALF----------*/


#bottom-banner{
  
text-align: center;
justify-content: center;


}

.choose{
    text-align: center;
    margin-bottom: 3rem;
}

#keychains{

    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#keychains img{
    height: 250px;
}


.choose{
    font-size: 14pt;
    padding-top: 40px;
    font-weight: 600;
}

.bottom-title{
    text-align: center;
    justify-items: center;
    margin-top: 50px;
}

.line1 h2{
    font-size: 15pt;
    color: black;
    line-height: 3rem ;
}

.line2 h2{
    font-size: 17.5pt;
    color: black;
    font-weight: 600;

}


/*----------ANIMATION keychain zoom----------*/

#left-keychain:hover,
#center-keychain:hover,
#right-keychain:hover{

    animation: scale 0.2s linear;
    animation-fill-mode: forwards;
    
}

#left-keychain,
#center-keychain,
#right-keychain{

    animation: scaledown 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes scale{

    0% {
        transform: scale(1);

    }

    100%{
        transform: scale(1.2);
    }

}
@keyframes scaledown{

    0% {
        transform: scale(1.2);

    }

    100%{
        transform: scale(1);
    }
}



@media (max-width: 700px){

    #keychains{

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: auto;
    }

    #keychains img{
       height: 120%;
       padding-bottom: 10rem;
    }

    

}
